force-app/main/default/flows/Fast_Quote_embedded-5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Enterprise_Pricing</name>
        <label>Enterprise Pricing</label>
        <locationX>20</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enterprise PriceBook</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QualifiedPricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ENTERPRISE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nonprofit_Pricing</name>
        <label>Nonprofit Pricing</label>
        <locationX>148</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nonprofit Pricebook</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QualifiedPricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NONPROFIT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Pricebook_Id</name>
        <label>check Pricebook Id</label>
        <locationX>19</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pricebook Found</defaultConnectorLabel>
        <rules>
            <name>Pricebook_Id_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundPricebookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Pricebook Id Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_Pricebook</name>
        <label>Choose Pricebook</label>
        <locationX>20</locationX>
        <locationY>104</locationY>
        <defaultConnector>
            <targetReference>Enterprise_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enterprise</defaultConnectorLabel>
        <rules>
            <name>Nonprofit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountSObject.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not For Profit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nonprofit_Pricing</targetReference>
            </connector>
            <label>Nonprofit</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OpportunityStagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PricebookEntries</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountsISO</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>foundPricebookId</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
    </dynamicChoiceSets>
    <formulas>
        <name>opportunityDescriptionFormula</name>
        <dataType>String</dataType>
        <expression>"This Opportunity was created using 'Fast Quote'"</expression>
    </formulas>
    <formulas>
        <name>opportunityNameFormula</name>
        <dataType>String</dataType>
        <expression>{!accountSObject.Name}&amp;"- Fast Quote"</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Fast_Quote_embedded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fast_Quote_embedded</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>269</locationX>
        <locationY>360</locationY>
        <assignRecordIdToReference>fastOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountSObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>accountSObject.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>opportunityDescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opportunityNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>foundPricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>21</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Pricebook</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountSObject</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Industry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PriceBook_Lookup</name>
        <label>PriceBook Lookup</label>
        <locationX>147</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Pricebook_Id</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookName</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>foundPricebookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>19</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PriceBook_Lookup</targetReference>
        </connector>
        <fields>
            <name>CloseDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>today</elementReference>
            </defaultValue>
            <fieldText>Opportunity Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>OpportunityStagePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>accountsISO</name>
            <fieldText>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">Account&amp;apos;s ISO: &lt;B>{!accountSObject.CurrencyIsoCode}&lt;/B>&lt;/FONT>&lt;/DIV></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qualifyingPricebook</name>
            <fieldText>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">Qualified Pricing: &lt;B>{!QualifiedPricing}&lt;/B>&lt;/FONT>&lt;/DIV></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>268</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Products</name>
            <choiceReferences>PricebookEntries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Products</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Account_Lookup</startElementReference>
    <variables>
        <name>accountSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>fastOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>foundPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriceBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QualifiedPricing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>AccountId from embedded Lightning Page</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
