force-app/main/default/flows/Fast_Quote_Embedded_LTNG-4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>add_Quote_Id</name>
        <label>add Quote Id</label>
        <locationX>278</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>loopVar.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuoteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_new_Coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_new_Coll</name>
        <label>add to new Coll</label>
        <locationX>277</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>processedQLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ID_to_Coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enterprise_Pricing</name>
        <label>Enterprise Pricing</label>
        <locationX>147</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>pricebookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enterprise PriceBook</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>qualifiedPricingDisplayText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ENTERPRISE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nonprofit_Pricing</name>
        <label>Nonprofit Pricing</label>
        <locationX>274</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>pricebookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nonprofit Pricebook</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>qualifiedPricingDisplayText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NONPROFIT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Quote_Line_Item</name>
        <label>Store Quote Line Item</label>
        <locationX>275</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedProduct2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedPricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Line_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Line_Collection</name>
        <label>update Line Collection</label>
        <locationX>276</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>continue_Adding_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Pricebook_Id</name>
        <label>check Pricebook Id</label>
        <locationX>275</locationX>
        <locationY>272</locationY>
        <defaultConnector>
            <targetReference>Product_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pricebook Found</defaultConnectorLabel>
        <rules>
            <name>Pricebook_Id_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundPricebookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Pricebook Id Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_Pricebook</name>
        <label>Choose Pricebook</label>
        <locationX>274</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>Enterprise_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enterprise</defaultConnectorLabel>
        <rules>
            <name>Nonprofit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountSObject.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not For Profit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nonprofit_Pricing</targetReference>
            </connector>
            <label>Nonprofit</label>
        </rules>
    </decisions>
    <decisions>
        <name>continue_Adding_Products</name>
        <label>continue Adding Products?</label>
        <locationX>145</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Complete</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_selecting_Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Selection</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OpportunityStagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PricebookEntries</name>
        <dataType>String</dataType>
        <displayField>Product_Selection_View__c</displayField>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountSObject.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>foundPricebookId</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>selectedPricebookEntryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedProduct2Id</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedUnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
        <sortField>Product_Family__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Product2Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>opportunityDescriptionFormula</name>
        <dataType>String</dataType>
        <expression>"This Opportunity was created using 'Fast Quote'"</expression>
    </formulas>
    <formulas>
        <name>opportunityNameFormula</name>
        <dataType>String</dataType>
        <expression>{!accountSObject.Name}&amp;"- Fast Quote"</expression>
    </formulas>
    <formulas>
        <name>quoteName</name>
        <dataType>String</dataType>
        <expression>{!accountSObject.Name}&amp;"- Fast Quote"</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Fast Quote Embedded LTNG {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fast Quote Embedded LTNG</label>
    <loops>
        <name>Add_ID_to_Coll</name>
        <label>Add ID to Coll</label>
        <locationX>147</locationX>
        <locationY>593</locationY>
        <assignNextValueToReference>loopVar</assignNextValueToReference>
        <collectionReference>QuoteLineColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_Quote_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insert_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>147</locationX>
        <locationY>512</locationY>
        <assignRecordIdToReference>newOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountSObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>accountSObject.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>opportunityDescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opportunityNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>foundPricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>276</locationX>
        <locationY>513</locationY>
        <assignRecordIdToReference>newQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_ID_to_Coll</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Fast_Quote__c</field>
            <value>
                <elementReference>accountSObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>accountSObject.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>quoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>newOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>foundPricebookId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>insert_Quote_Line_Items</name>
        <label>insert Quote Line Items</label>
        <locationX>148</locationX>
        <locationY>675</locationY>
        <connector>
            <targetReference>sync_Opportunity</targetReference>
        </connector>
        <inputReference>processedQLIs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>147</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Pricebook</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountSObject</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Industry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PriceBook_Lookup</name>
        <label>PriceBook Lookup</label>
        <locationX>273</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Pricebook_Id</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricebookName</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>foundPricebookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>sync_Opportunity</name>
        <label>sync Opportunity</label>
        <locationX>148</locationX>
        <locationY>754</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>newQuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>145</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PriceBook_Lookup</targetReference>
        </connector>
        <fields>
            <name>CloseDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>today</elementReference>
            </defaultValue>
            <fieldText>Opportunity Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>OpportunityStagePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>accountsISO</name>
            <fieldText>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">Account&amp;apos;s ISO: &lt;B>{!accountSObject.CurrencyIsoCode}&lt;/B>&lt;/FONT>&lt;/DIV></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qualifyingPricebook</name>
            <fieldText>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">Qualified Pricing: &lt;B>{!qualifiedPricingDisplayText}&lt;/B>&lt;/FONT>&lt;/DIV></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>144</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_Quote_Line_Item</targetReference>
        </connector>
        <fields>
            <name>Select_a_Product</name>
            <choiceReferences>PricebookEntries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Discount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Discount %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Continue_selecting_Products</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Continue selecting Products</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>bhtest</name>
            <extensionName>c:sampleFlowComponent_v2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>num1</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pricebookName</name>
                <value>
                    <elementReference>pricebookName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>QuoteLineColl</assignToReference>
                <name>result</name>
            </outputParameters>
        </fields>
    </screens>
    <startElementReference>Account_Lookup</startElementReference>
    <variables>
        <name>accountSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>foundPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>newOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pricebookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processedQLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>qualifiedPricingDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <description>AccountId from embedded Lightning Page</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedPricebookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedProduct2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedUnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
