mdapi/flows/Fast_Quote_embedded-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Enterprise_Pricing</name>
        <label>Enterprise Pricing</label>
        <locationX>20</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enterprise PriceBook</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QualifiedPricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ENTERPRISE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nonprofit_Pricing</name>
        <label>Nonprofit Pricing</label>
        <locationX>148</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nonprofit Pricebook</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QualifiedPricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NONPROFIT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Choose_Pricebook</name>
        <label>Choose Pricebook</label>
        <locationX>20</locationX>
        <locationY>104</locationY>
        <defaultConnector>
            <targetReference>Enterprise_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enterprise</defaultConnectorLabel>
        <rules>
            <name>Nonprofit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountSObject.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not For Profit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nonprofit_Pricing</targetReference>
            </connector>
            <label>Nonprofit</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OpportunityStagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Fast_Quote_embedded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fast_Quote_embedded</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>21</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Pricebook</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountSObject</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Industry</queriedFields>
    </recordLookups>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>19</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CloseDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>today</elementReference>
            </defaultValue>
            <fieldText>Opportunity Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>OpportunityStagePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>accountsISO</name>
            <fieldText>Account&apos;s ISO: {!accountSObject.CurrencyIsoCode}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qualifyingPricebook</name>
            <fieldText>Qualified Pricing: {!QualifiedPricing}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Account_Lookup</startElementReference>
    <variables>
        <name>accountSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PriceBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QualifiedPricing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>AccountId from embedded Lightning Page</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
